@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gobold_Regular";
    src: url("../src/assets/fonts/Gobold_Regular.otf");
  }
  @font-face {
    font-family: "Product_sans";
    src: url("../src/assets/fonts/Product_Sans.ttf");
  }